#buttons{
    width: 50vw;
    height: 50vh;
    align-items: baseline;
    font-family: 'Sansita Swashed', cursive;
}
button{
    width: 40px;
    height: 40px;
}

#current{
    height: 50px;
    width: 248px;
    font-family: 'Sansita Swashed', cursive;
    font-size: 17px
}
body{
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}